/*Color scheme link: https://www.color-hex.com/color-palette/40784*/

/*.container {
    background-color: #194a7b;
    display: flex;
    flex-direction: row;
}*/

body {
    background-color: #194a7b;
    margin: auto 0;
}

p {
    color: yellow;
}


.container {
    width: 100%;
    display: inline-flex;
    flex-direction: row;
}

.game_board {
    width: 750;
    height: 750px;
    display: inline-flex;
    flex-direction: row; 
}

.nav {
    width: 20%;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: green;
}

.row {
    display: flex;
    flex-direction: column;
}

.tile {
    display: flex;
    padding: 0;
    width: 150px;
    height: 150px;
    border: 1px black solid;
}

.water {
    background-color: #bde5ee;
}

.dock {
    background-image: url('./img/dock.jpeg');
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: top left;
}

.beach {
    background-image: url('./img/beach.png');
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: top left;
}

#sharktile {
    background-image: url('./img/jawstile.png');
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: bottom right;
}

.jaws_pix {
    width: 50%;
    height: 50%;
    position: relative;
    right: -38%;
    bottom: -50%;
}

.orca_pix {
    width: 50%;
    height: 50%;
    float: right;
    margin: 0;
}

.barreltile {
    background-image: url('./img/barrel.png');
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: bottom left;
}

#welcome_image {
    margin: 0 auto;
    display: flex;
}

.shore {
    background-color: #fc620a;
}

.beach {    
    background-color: #fa9335;
}

.dock {
}

.land {
    background-color: #666060;
}