/*Color scheme link: https://www.color-hex.com/color-palette/40784*/

body {
    background-color: #194a7b;
}

.game_board {
    width: 780px;
    height: 780px;
    margin: 0 auto;
    display: flex;
    flex-direction: horizontal;
}

.menu {
    width: 300px;
    height: 900px;
    display: flex;
    flex-direction: horizontal;
}

.row {
    display: flex;
    flex-direction: column;
}

.tile {
    display: flex;
    padding: 0;
    width: 156px;
    height: 156px;
    border: 1px black solid;
}

.water {
    background-color: #bde5ee;
}

.dock {
    background-image: url('./img/dock.png');
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: top left;
}

#sharktile {
    background-image: url('./img/jawstile.png');
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: bottom right;
}

.barreltile {
    background-image: url('./img/barrel.png');
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: bottom left;
}

#welcome_image {
    margin: 0 auto;
    display: flex;
}

.shore {
    background-color: green;
}

.beach {    
    background-color: yellow;
}

.dock {
}

.land {
    background-color: brown;
}